[submodule "MarkdownParser"]
	path = MarkdownParser
	url = git@github.com:hunter-hongg/markdown_parser
[submodule "MarkdownSQLite"]
	path = MarkdownSQLite
	url = git@github.com:hunter-hongg/markdown_sqlite
